In [42]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
dataset = pd.read_csv("Dataset/CrimeData.csv")

In [44]:
dataset.head() #checking if it is loaded correctly

,Unnamed: 0,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Desc,Status Desc,Crm Cd 1,Crm Cd 2,LOCATION
0,3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,N Hollywood,1543,2,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,F,White,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,Invest Cont,745.0,998.0,5400 CORTEEN PL
1,5,200100501,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,30,Central,163,1,"RAPE, FORCIBLE",25,F,Hispanic/Laotianatin/Mexican,NIGHT CLUB (OPEN EVENINGS ONLY),UNKNOWN WEAPON/OTHER WEAPON,Invest Cont,121.0,998.0,700 S BROADWAY
2,6,200100502,01/02/2020 12:00:00 AM,01/02/2020 12:00:00 AM,1315,Central,161,1,SHOPLIFTING - PETTY THEFT ($950 & UNDER),23,M,Hispanic/Laotianatin/Mexican,DEPARTMENT STORE,NaN,Invest Cont,442.0,998.0,700 S FIGUEROA ST
3,7,200100504,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,40,Central,155,2,OTHER MISCELLANEOUS CRIME,0,X,Unknown,POLICE FACILITY,NaN,Invest Cont,946.0,998.0,200 E 6TH ST
4,8,200100507,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,200,Central,101,1,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",23,M,Black,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,Invest Cont,341.0,998.0,700 BERNARD ST