In [2]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dataset = pd.read_csv("Dataset/CrimeData.csv")

In [4]:
dataset.head() #checking if it is loaded correctly

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [5]:
dataset = dataset.drop_duplicates()

In [6]:
dataset = dataset.drop(columns="Cross Street") 
dataset = dataset.drop(columns="LAT")
dataset = dataset.drop(columns="LON")
dataset = dataset.drop(columns="Crm Cd")
dataset = dataset.drop(columns="Weapon Used Cd") 
dataset = dataset.drop(columns="Status")
dataset = dataset.drop(columns="Mocodes")
dataset = dataset.drop(columns="Premis Cd")
dataset = dataset.drop(columns="AREA")
dataset

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Desc,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,Southwest,377,2,BATTERY - SIMPLE ASSAULT,36,F,B,SINGLE FAMILY DWELLING,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,Central,163,2,BATTERY - SIMPLE ASSAULT,25,M,H,SIDEWALK,UNKNOWN WEAPON/OTHER WEAPON,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,Central,155,2,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,0,X,X,POLICE FACILITY,NaN,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,N Hollywood,1543,2,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,F,W,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,Mission,1998,2,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,X,X,BEAUTY SUPPLY STORE,NaN,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752906,231510379,05/29/2023 12:00:00 AM,05/25/2023 12:00:00 AM,1100,N Hollywood,1548,2,"BUNCO, GRAND THEFT",25,M,W,OTHER PREMISE,NaN,Invest Cont,662.0,NaN,NaN,NaN,5300 DENNY AV
752907,231604807,01/27/2023 12:00:00 AM,01/26/2023 12:00:00 AM,1800,Foothill,1663,2,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",23,M,H,"VEHICLE, PASSENGER/TRUCK",NaN,Invest Cont,740.0,NaN,NaN,NaN,12500 BRANFORD ST
752908,231606525,03/22/2023 12:00:00 AM,03/22/2023 12:00:00 AM,1000,Foothill,1602,1,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",25,F,H,SIDEWALK,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,230.0,NaN,NaN,NaN,12800 FILMORE ST
752909,231210064,04/12/2023 12:00:00 AM,04/12/2023 12:00:00 AM,1630,77th Street,1239,1,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",29,M,B,LAUNDROMAT,UNKNOWN WEAPON/OTHER WEAPON,Invest Cont,230.0,NaN,NaN,NaN,6100 S VERMONT AV
752910,230906458,03/05/2023 12:00:00 AM,03/05/2023 12:00:00 AM,900,Van Nuys,914,2,VANDALISM - MISDEAMEANOR ($399 OR UNDER),53,F,H,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,Invest Cont,745.0,NaN,NaN,NaN,14500 HARTLAND ST

In [7]:
dataset["Vict Descent"] = dataset["Vict Descent"].str.replace('A', 'Other Asian') 
dataset["Vict Descent"] = dataset["Vict Descent"].str.replace('B', 'Black') 
dataset["Vict Descent"] = dataset["Vict Descent"].str.replace('C', 'Chinese') 
dataset["Vict Descent"] = dataset["Vict Descent"].str.replace('D', 'Cambodian') 
dataset["Vict Descent"] = dataset["Vict Descent"].str.replace('F', 'Filipino') 
dataset["Vict Descent"] = dataset["Vict Descent"].str.replace('G', 'Guamanian')
dataset["Vict Descent"] = dataset["Vict Descent"].str.replace('H', 'Hispanic/Latin/Mexican') 
dataset["Vict Descent"] = dataset["Vict Descent"].str.replace('I', 'American Indian/Alaskan Native') 
dataset["Vict Descent"] = dataset["Vict Descent"].str.replace('J', 'Japanese') 
dataset["Vict Descent"] = dataset["Vict Descent"].str.replace('K', 'Korean')
dataset["Vict Descent"] = dataset["Vict Descent"].str.replace('L', 'Laotian')
dataset["Vict Descent"] = dataset["Vict Descent"].str.replace('O', 'Other')
dataset["Vict Descent"] = dataset["Vict Descent"].str.replace('P', 'Pacific Islander') 
dataset["Vict Descent"] = dataset["Vict Descent"].str.replace('S', 'Samoan')
dataset["Vict Descent"] = dataset["Vict Descent"].str.replace('U', 'Hawaiian') 
dataset["Vict Descent"] = dataset["Vict Descent"].str.replace('V', 'Vietnamese') 
dataset["Vict Descent"] = dataset["Vict Descent"].str.replace('W', 'White') 
dataset["Vict Descent"] = dataset["Vict Descent"].str.replace('X', 'Unknown') 
dataset["Vict Descent"] = dataset["Vict Descent"].str.replace('Z', 'Asian Indian') 
dataset

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Desc,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,Southwest,377,2,BATTERY - SIMPLE ASSAULT,36,F,Black,SINGLE FAMILY DWELLING,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,Central,163,2,BATTERY - SIMPLE ASSAULT,25,M,Hispanic/Laotianatin/Mexican,SIDEWALK,UNKNOWN WEAPON/OTHER WEAPON,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,Central,155,2,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,0,X,Unknown,POLICE FACILITY,NaN,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,N Hollywood,1543,2,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,F,White,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,Mission,1998,2,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,X,Unknown,BEAUTY SUPPLY STORE,NaN,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752906,231510379,05/29/2023 12:00:00 AM,05/25/2023 12:00:00 AM,1100,N Hollywood,1548,2,"BUNCO, GRAND THEFT",25,M,White,OTHER PREMISE,NaN,Invest Cont,662.0,NaN,NaN,NaN,5300 DENNY AV
752907,231604807,01/27/2023 12:00:00 AM,01/26/2023 12:00:00 AM,1800,Foothill,1663,2,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",23,M,Hispanic/Laotianatin/Mexican,"VEHICLE, PASSENGER/TRUCK",NaN,Invest Cont,740.0,NaN,NaN,NaN,12500 BRANFORD ST
752908,231606525,03/22/2023 12:00:00 AM,03/22/2023 12:00:00 AM,1000,Foothill,1602,1,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",25,F,Hispanic/Laotianatin/Mexican,SIDEWALK,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,230.0,NaN,NaN,NaN,12800 FILMORE ST
752909,231210064,04/12/2023 12:00:00 AM,04/12/2023 12:00:00 AM,1630,77th Street,1239,1,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",29,M,Black,LAUNDROMAT,UNKNOWN WEAPON/OTHER WEAPON,Invest Cont,230.0,NaN,NaN,NaN,6100 S VERMONT AV
752910,230906458,03/05/2023 12:00:00 AM,03/05/2023 12:00:00 AM,900,Van Nuys,914,2,VANDALISM - MISDEAMEANOR ($399 OR UNDER),53,F,Hispanic/Laotianatin/Mexican,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,Invest Cont,745.0,NaN,NaN,NaN,14500 HARTLAND ST

In [8]:
dataset = dataset.fillna('')
dataset

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Desc,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,Southwest,377,2,BATTERY - SIMPLE ASSAULT,36,F,Black,SINGLE FAMILY DWELLING,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Other,624.0,,,,1100 W 39TH PL
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,Central,163,2,BATTERY - SIMPLE ASSAULT,25,M,Hispanic/Laotianatin/Mexican,SIDEWALK,UNKNOWN WEAPON/OTHER WEAPON,Invest Cont,624.0,,,,700 S HILL ST
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,Central,155,2,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,0,X,Unknown,POLICE FACILITY,,Adult Arrest,845.0,,,,200 E 6TH ST
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,N Hollywood,1543,2,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,F,White,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",,Invest Cont,745.0,998.0,,,5400 CORTEEN PL
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,Mission,1998,2,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,X,Unknown,BEAUTY SUPPLY STORE,,Invest Cont,740.0,,,,14400 TITUS ST
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752906,231510379,05/29/2023 12:00:00 AM,05/25/2023 12:00:00 AM,1100,N Hollywood,1548,2,"BUNCO, GRAND THEFT",25,M,White,OTHER PREMISE,,Invest Cont,662.0,,,,5300 DENNY AV
752907,231604807,01/27/2023 12:00:00 AM,01/26/2023 12:00:00 AM,1800,Foothill,1663,2,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",23,M,Hispanic/Laotianatin/Mexican,"VEHICLE, PASSENGER/TRUCK",,Invest Cont,740.0,,,,12500 BRANFORD ST
752908,231606525,03/22/2023 12:00:00 AM,03/22/2023 12:00:00 AM,1000,Foothill,1602,1,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",25,F,Hispanic/Laotianatin/Mexican,SIDEWALK,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,230.0,,,,12800 FILMORE ST
752909,231210064,04/12/2023 12:00:00 AM,04/12/2023 12:00:00 AM,1630,77th Street,1239,1,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",29,M,Black,LAUNDROMAT,UNKNOWN WEAPON/OTHER WEAPON,Invest Cont,230.0,,,,6100 S VERMONT AV
752910,230906458,03/05/2023 12:00:00 AM,03/05/2023 12:00:00 AM,900,Van Nuys,914,2,VANDALISM - MISDEAMEANOR ($399 OR UNDER),53,F,Hispanic/Laotianatin/Mexican,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",,Invest Cont,745.0,,,,14500 HARTLAND ST

In [9]:
for i in dataset.index:
    if dataset.loc[i, "Crm Cd 2"] == '':
        dataset.drop(i, inplace=True)
dataset

KeyboardInterrupt: